<header class = "footer" id="footer-anchor" >
    <div class = "footer-title">
<!--        <img src = "assets/env.svg">
    Contact Details -->
    </div>

    <div class = "footer-content">
        <div class = "prof-details">
            <!--<a href= "http://physics.bdu.ac.in/~anand/" target="_">
                                <img id="pic" src = "assets/pm.jpg"></a> -->
            <div class = "prof-sub-details">
                <h1> Organizer: Prof. P. Muruganandam </h1>
                <h2> nlsworkshop@bdu.ac.in </h2>
            </div>
        </div>
        <div class = "sponsor-details">
            <img src = "assets/rusa.jpg">
            <a href = "https://www.bdu.ac.in/" target="_">
                <img id="pic" src = "assets/bdu_logo.bmp"></a>
        </div>
    </div>
</header>
