<header class = "details" id="detail-anchor">
    <div class = "details-title">
        <img src = "assets/conf.png">
        Workshop Details
    </div>
    <h1> 
        <img src = "assets/speaker.svg">
        Speakers
    </h1>
    <div class = "speaker-list">
        <div class = "speaker"><img src="assets/murali.jpeg"> <h1> K. Murali</h1><h2> Anna University, Chennai</h2> </div>
        <div class = "speaker"><img src="assets/dvs.jpg"> <h1> D.V. Senthilkumar</h1><h2>IISER Trivandrum</h2> </div>
        <div class = "speaker"><img src="assets/nithyanandan.jpg"> <h1> K. Nithyanandan</h1><h2> IIT Hyderabad</h2> </div>
        <div class = "speaker"><img src="assets/ms.jpg"> <h1> M. Senthilvelan</h1><h2>Bharathidasan University </h2> </div>
    </div>

    <div class = "hsep"></div>
        <h1> 
            <img src = "assets/time.svg">


            Schedule 
        </h1> 
    <div class = "schedule">
        <table class = "day1">
            <caption> Day 1: Jan 29th 2026 </caption>
            <!-- <tr>
                <th rowspan = '9'> <h1> To be Declared </h1> </th>
            </tr> -->
            <tr> 
                <td id = "time"> 10:15 - 10:30 </td>  
                <td id = "ses" class ="misc"> Inauguration </td>  
            </tr>
            <tr> 
                <td id = "time"> 10:30 - 10:45 </td>  
                <td id = "ses" class ="break"> Tea Break </td>  
            </tr>
            <tr> 
                <td id = "time"> 10:45 - 12:00 </td>  
                <td id = "ses" class ="nith"> Dr. K. Nithayanandan </td>  
            </tr>
            <tr> 
                <td id = "time"> 12:00 - 13:15 </td>  
                <td id = "ses" class ="dv"> Dr. D.V. Senthilkumar </td>  
            </tr>
            <tr> 
                <td id = "time"> 13:15 - 14:30 </td>  
                <td id = "ses" class ="break"> Lunch </td>  
            </tr>
            <tr> 
                <td id = "time"> 14:30 - 15:45 </td>  
                <td id = "ses" class ="nith"> Dr. K. Nithyanandan </td>  
            </tr>
            <tr> 
                <td id = "time"> 15:45 - 16:00 </td>  
                <td id = "ses" class ="break"> Tea Break </td>  
            </tr>
            <tr> 
                <td id = "time"> 16:00 - 17:15 </td>  
                <td id = "ses" class ="ms"> Dr. M. Senthilvelan </td>  
            </tr>

        </table>
        <div class = "info-sep"></div>
        <table class = "day2">
            <caption> Day 2: Jan 30th 2026 </caption>
            <tr> 
                <td id = "time"> 10:15 - 11:30 </td>  
                <td id = "ses" class ="ms"> Dr. M. Senthilvelan </td>  
            </tr>
            <tr> 
                <td id = "time"> 11:30 - 11:45 </td>  
                <td id = "ses" class ="break"> Tea Break </td>  
            </tr>
            <tr> 
                <td id = "time"> 11:45 - 13:00 </td>  
                <td id = "ses" class ="mur"> Dr. K. Murali </td>  
            </tr>
            <tr> 
                <td id = "time"> 13:00 - 14:15 </td>  
                <td id = "ses" class ="break"> Lunch </td>  
            </tr>
            <tr> 
                <td id = "time"> 14:15 - 15:30 </td>  
                <td id = "ses" class ="dv"> Dr. D.V. Senthilkumar</td>  
            </tr>
            <tr> 
                <td id = "time"> 15:30 - 15:45 </td>  
                <td id = "ses" class ="break"> Tea Break </td>  
            </tr>
            <tr> 
                <td id = "time"> 15:45 - 17:00 </td>  
                <td id = "ses" class ="mur"> Dr. K. Murali </td>  
            </tr>
            <tr> 
                <td id = "time"> 17:00 - 17:15 </td>  
                <td id = "ses" class ="misc"> Valediction </td>  
            </tr>

        </table>
    </div>
    <div class = "hsep"></div>
    <div class = "add-details">
        <div class = "regis">
        <h1> 
            <img src="assets/register.svg">
            Registration 
        </h1>
            <ul> 
                <li>There is no Registration fee</li>
                <li>Only 60 participants will be selected</li>
                <li>Lunch and refreshments will be provided on both days</li>
            </ul>
        </div>
        <div class = "info-sep"></div>
        <div class = "accom">
        <h1> 
            <img src="assets/accomm.svg">
            Accommodation 
        </h1>
            <ul> 
                <li>Accommodation will be provided within the university campus for a nominal fee</li>
                <li> Accommodation will be on a shared basis </li>
                <li> Payment details will be announced soon </li>
            </ul>

        </div>
        <div class = "info-sep"></div>
        <div class = "link">
            <h1> 
                <img src="assets/link.svg">
                Links 
            </h1>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScZc5UiR0cAVAxDxl6RfyFn0HFpeIcxQYD3GjgD2-yKQ93nrg/viewform?usp=publish-editor" style="text-decoration:none; color:var(--crust)" target="_" >
                <button id="pdf">Registration</button> </a>
                <button id="pdf" onclick="window.open('assets/brochure.pdf')" >Download Brochure</button> 
                <button id="pdf" onclick="window.open('assets/schd.pdf')" >Download Schedule</button> 
                <button id="pdf-off">Download Invite</button>
        </div>

    </div>
</header>
